# Auto detect text files and perform LF normalization
* text=auto
body style="background-color:lightgrey;"
body style="background-image: [](http://empoweredforexcellence.com/wp-content/uploads/2015/08/Dollarphotoclub_72421384-1200x900.jpg);"